<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Reset Password </title>
  </head>
  <body>
    <h3>Please reset your password </h3>
    <p>here is the link to your password
      <a href='{{urlLink}}'>{{urlLink}}</a></p>
  </body>
 </html> 